.price {
    font-size: 20px;
}

.card-header {
    text-align: center;
    background-color: antiquewhite;
}

.video {
    padding-left: 80px;
    padding-right: 80px;
}

.mt-3 {
    padding-left: 80px;
    padding-right: 80px;
}
.active-video{
    background-color: rgb(66, 70, 71);
    color: aliceblue;
 
}
a{
    color: rgb(22, 21, 22);
}
.active-video-link{
    color: white;
}